{% extends "_layouts/cp.twig" %}

{% do view.registerAssetBundle("szenario\\craftaltpilot\\web\\assets\\altpilotfrontend\\AltPilotFrontendAsset") %}

{% set title = "Alt Pilot"|t('alt-pilot') %}

{% block content %}
	<div id="app" data-props='{{ { cpTrigger: craft.app.config.general.cpTrigger }|json_encode }}'></div>
{% endblock %}
