#altPilotWrapper {
  font-family: 'Arial', sans-serif;
  color: black;

  .asset-card-pulse {
    animation: pulse 1s 2;
  }
}

@keyframes pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#content {
  background: linear-gradient(
    to bottom,
    #ffffff 0,
    #ffffff 100px,
    #f4fef7 200px,
    #f4fef7 100%
  ) !important;
}
