# Creates a new GitHub Release whenever the Craft Plugin Store
# is notified of a new version tag.

name: Create Release
run-name: Create release for ${{ github.event.client_payload.version }}

on:
    repository_dispatch:
        types:
            - craftcms/new-release
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4

            - uses: pnpm/action-setup@v4
              with:
                  version: 10

            - uses: actions/setup-node@v4
              with:
                  node-version: 24
                  cache: pnpm
                  cache-dependency-path: pnpm-lock.yaml

            - name: Build frontend assets
              run: |
                  cd frontend
                  pnpm install
                  pnpm build

            - uses: ncipollo/release-action@v1
              with:
                  body: ${{ github.event.client_payload.notes }}
                  makeLatest: ${{ github.event.client_payload.latest }}
                  name: ${{ github.event.client_payload.version }}
                  prerelease: ${{ github.event.client_payload.prerelease }}
                  tag: ${{ github.event.client_payload.tag }}
